body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fff;
}

.listWrapper {
  width: 100%;
}

.imgWrapper {
  float: left;
  margin: 10px;
  flex: 1 1 190px;
  max-width: 190px;
  min-width: 190px
}

.photoDesc p {
  margin: 0;
  text-transform: capitalize;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.photoDescModal p {
  margin: 0;
  text-transform: capitalize;
  padding: 0 0 5px;
  color: #fff;
  text-align: center;
}

.photoHolder {
  float: left;
  margin: 5px;
  flex: 1 1 200px;
  cursor: pointer;
  max-width: 200px;
  min-width: 200px;
}

.photoHolder img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.photoWrapper {
  width: auto;
  height: calc(100vh - 159px);
  padding: 40px;
  float: left;
  overflow-y: auto;
  background: #fff;
}

.albumWrapper {
  width: calc(100% - 80px);
  max-height: calc(100vh - 100px);
  padding: 20px 40px;
  float: left;
  overflow-y: auto;
  display: flex;
  background: #fff;
  flex-wrap: wrap;
}

.albumTitle {
  font-size: 14px;
  color: #333;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.albumItemWrapper {
  /* padding: 20px; */
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%); */
}

.albumItemWrapper:hover .albumImg {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.albumName {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  /* margin-top: 10px; */
}

.albumImg {
  width: 100%;
  height: auto;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}

a {
  outline: none;
  text-decoration: none;
}

.albumOwner {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.ownerAlbumTitle {
  margin: 0px 0 30px;
  font-size: 20px;
  text-align: left;
  text-transform: capitalize;
}

.photoInnerWrapper {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.imgModal {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: table;
  margin-top: 10px;
  max-width: 90%;
  max-height: calc(100% - 100px);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 150px;
  height: 33px;
  float: right;
  margin: 5px 0px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.albumGalleryTitle {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .albumWrapper {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100vh - 119px);
    justify-content: center;
  }

  .photoWrapper {
    padding: 20px;
    height: calc(100vh - 119px);
  }

  .photoHolder {
    text-align: center;
  }
  .photoInnerWrapper {
    justify-content: center;
  }
}